* {
  box-sizing: border-box;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.App {
  text-align: center;
  height: 90vh;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  background-color: grey;
  padding: 25px;
}

.controls {
  display: flex;
  justify-content: space-between;
}
